body{
    margin: 0;
}

header h1{
    font-size: 3rem;
    text-align: center;
    background: url(../img/bg.jpg);
    color: #FFFFFF;
    margin-top: 0;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    margin: 0px 10px 0px;
    font-weight: bold;  
    display: flex;
    padding-left: 0;
}

nav li{
    margin: 10px;
}

nav li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
}

.informacion{
    background-color: #CCCC;
    text-align: center;
    padding: 20px;
}

#mision{
    font-size: 20px;
}

em strong{
    color: red;
}

h2{
    text-align: center;
    margin-bottom: 0px;
}

.diferenciales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-style: italic;
    padding: 20px;
}

.diferenciales ul{
    font-size: 1.2rem;
    margin: 15px;
}

.imgDiferenciales{
    width:50%; 
}

footer{
    background: url(../img/bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

footer img{
    width: 10vh;
}

footer p {
    color: white;
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
}

@media(min-width: 711px){
    .diferenciales{
        gap: 15px;
    }
}

@media(min-width: 1279px){
    .header-nav, main{
        width: 980px;
        margin: 0 auto;
    }
}