body{
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header{
    background-color: #CCCCCC;
}

.contenedor-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-header img{
    max-width: 60px;
}

nav ul{
    list-style-type: none;
}

nav li{
    margin: 10px;
    text-align: right;
}

nav li a{
    font-weight: bold;  
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
}

/* Footer */

footer{
    background: url(../img/bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 0px;
}

footer img{
    width: 10vh;
}

footer p {
    color: white;
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
}

/* Servicios */

.contenedor-main-servicios{
    margin-bottom: 50px;
}

.contenedor-servicios{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.contenedor-servicios li{
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 40px 20px;
    margin: 50px 1.5% 0px 1.5%;
    width: 281px;
}

.contenedor-servicios li h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.servicio-descripcion{
    margin-top: 10px;
}

.servicio-precio{
    font-weight: bold;
    margin-top: 10px;
}

nav li a:hover{
    color: #c78c19;;
    text-decoration: underline;
    font-size: 14px;
}

.contenedor-servicios li:hover{
    cursor: pointer;
    box-shadow: 7px 7px 15px black;
}

.contenedor-servicios li:hover h1{
    font-size: 2em;
}

.contenedor-servicios li:active{
    border: 2px solid #088c19;
    box-shadow: none;  
}


/* Contacto */

.contenedor-main-contacto,
.contenedor-main-home{
    margin: 50px auto 50px;
    width: 80%;
}

h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.contenedor-form label{
    margin-top: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.datos-contacto{
    margin-top: 10px;
    padding: 5px;
    width: 90%;
}

.contenedor-form fieldset legend, h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.medio-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0;
}

.horario-contacto select{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px #3c3c3c solid;
    padding: 5px;
    cursor: pointer;
}

.boton-submit{
    display: flex;
    justify-content: center;
    width: 120px;
    font-size: 10px;
    font-weight: bold;
    margin: 20px auto;
    padding: 15px 0;
    border: none;
    border-radius: 15px;
    background-color: #666666;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s all;
}

.boton-submit:hover{
    background: #3c3c3c;
    transform: scale(1.2);
}

thead{
    background: #8c8c8c;
    color: #FFFFFF;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 5px;
}

/* Home */
#banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
    font-weight: 300;
    clear: left;
}

.img-utensilios{
    width: 120px;
    float: left;
    margin: 0 1.2em 1.2em 0;
}

.about-alura p{
    margin-bottom: 1em;
}

.about-alura p strong{
    font-weight: bold;
}

.about-alura p em{
    font-style: italic;
}

.diferenciales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-style: italic;
    padding: 20px;
}

.diferenciales ul,
.diferenciales ul li{
    margin-bottom: 1em;
}

.img-diferenciales{
    width: 60%;
}



/* Media-query */
@media(min-width: 707px){
    .contenedor-header{
        justify-content: space-between;
    }

    .contenedor-header img{
        max-width: 80px;
        margin-left: 50px;
    }

    nav ul{
        display: flex;
        padding: 0;
        margin-right: 50px;   
    }
    
    nav li a{
        font-size: 16px;
    }

    /* Contacto */
    .contenedor-form{
        width: 560px;
    }

    .boton-submit{
        width: 40%;
        font-size: 18px;
    }
    
}

@media(min-width:814px){
    /* Home */
    .diferenciales{
        gap: 1em;
    } 
}

@media(min-width: 1280px){
    .contenedor-header,
    .contenedor-servicios{
        width: 1280px;
        margin: 0 auto;
    }
    
}